{% for ace in extace %}

{{ ace.stance }} {{ ace.protocol }} {{ ace.srcaddr }} {% if ace.srcport != None %}{{ 'eq'}} {{ ace.srcport | default('') }}{% endif %} {{ ace.dstaddr }} {% if ace.dstport != None %}{{ 'eq' }} {{ ace.dstport | default('') }}{% endif %} {% if ace.log != None %}{{ 'log' }}{% endif %}

{% endfor %}