{% for a in ace %}
{{ a.stance }} {{ a.protocol }} {{ a.srcaddr }} {% if a.srcport != None %}{{ 'eq'}} {{ a.srcport | default('') }}{% endif %} {{ a.dstaddr }} {% if a.dstport != None %}{{ 'eq' }} {{ a.dstport | default('') }}{% endif %} {% if a.log != None %}{{ 'log' }}{% endif %}

{% endfor %}